* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
}

.container {
	background-color: #012;
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 20px;
}

/* Title */

.title-container {
	width: 800px;
	margin: 60px auto 60px auto;
	color: #fff;
}

.title {
	font-weight: bold;
	font-size: 100px;
	line-height: 100px;
}

.text {
	font-weight: normal;
	font-size: 40px;
	line-height: 40px;
}

/* Game */

.game-container {
	width: 800px;
	height: 600px;
	margin: 0 auto 60px auto;
}

.number-container {
	float: left;
	width: 180px;
	height: 600px;
	margin: 0 20px 0 0;
}

.number {
	background-color: #fff;
	color: #012;
	width: 180px;
	height: 290px;
	padding: 75px 0;
	text-align: center;
	border-radius: 10px;
}

.number:first-child {
	/*margin-top: 120px;*/
	margin-bottom: 20px;
}

.number-label {
	text-align: center;
}

.tile-container {
	background-color: #fff;
	float: left;
	width: 600px;
	height: 600px;
	margin: 0;
	padding: 20px;
	border-radius: 10px;
}

.tile-row {
	width: 560px;
	height: 173.33px;
	margin-bottom: 20px;
}

.tile {
	float: left;
	background-color: #012;
	border-radius: 10px;

	width: 173.33px;
	height: 173.33px;
	margin-right: 20px;
}

.tile:last-child {
	margin-right: 0;
}

/* Log */

.log-container {
	width: 800px;
	height: 600px;
	margin: 0 auto 60px auto;
}

.user-info {
	float: left;
	background-color: #fff;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	padding: 20px;
}

/* Menu */

.menu-container {
	width: 800px;
	height: 200px;
	margin: 0 auto;
}

.menu-item {
	width: 390px;
	float: left;
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
}

.menu-item:first-child {
	margin-right: 20px;
}