* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: #223;
}

.container {
	position: absolute;
	width: 100%;
}

.main-container {
	width: 800px;
	margin: 60px auto;
}

/* Title */

.title-container {
	text-align: right;
}

.title-container .text {
	color: #fff;
	font-weight: bold;
	font-size: 100px;
	line-height: 100px;
}

.tile-row .text {
	color: #fff;
	font-weight: bold;
	font-size: 120px;
	line-height: 120px;
}

.number .text {
	font-weight: bold;
	font-size: 100px;
	line-height: 100px;
	color: #668;
	margin-top: 10px;
}

.text {
	color: #223;
	font-weight: normal;
	font-size: 40px;
	line-height: 40px;
}

/* Game */

.game-container {
	height: 600px;
}

.number-container {
	float: left;
	width: 180px;
	height: 600px;
	margin: 0 20px 0 0;
}

.number {
	background-color: #fff;
	color: #223;
	width: 180px;
	height: 290px;
	padding: 75px 0;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 10px #000;
}

.number:first-child {
	margin-bottom: 20px;
}

.number-label {
	text-align: center;
}

.tile-container {
	background-color: #fff;
	float: left;
	width: 600px;
	height: 600px;
	margin: 0;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 10px #000;
}

.tile-row {
	width: 560px;
	height: 173.33px;
	margin-bottom: 20px;
}

.tile {
	position: relative;
	float: left;
	background-color: #abb;
	border-radius: 10px;

	width: 173.33px;
	height: 173.33px;
	margin-right: 20px;
	color: #fff;
	text-align: center;
	padding: 20px;
}

.tile:last-child {
	margin-right: 0;
}

.tile-text {
	margin-top: 5px;
	/*text-shadow: 0 7px #223;*/
}

/* Log */

.log-container {
	background-color: #fff;
	border-radius: 10px;
	height: 600px;
	overflow: hidden;
	box-shadow: 0 10px #000;
}

.log-head {
	float: left;
	width: 100%;
	height: 100px;
	padding: 10px;
	box-shadow: 0 10px 20px #223;
	position: relative;
}

.log-name {
	float: left;
	font-weight: bold;
	display: inline;
	margin: 20px;
}

.log-icon {
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 10px;
	overflow: hidden;
}

.log-icon img {
	width: 100%;
	height: 100%;
}

.log-body {
	float: left;
	width: 100%;
	height: 520px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow-y: scroll;
}

.log-item {
	background-color: #edd;
	width: 100%;
	height: 100px;
	padding: 20px;
	margin: 2px 0;
}

/* Menu */

.menu-container {
	height: 100px;
}

.menu-item {
	width: 253.33px;
	height: 100%;
	float: left;
	background-color: #fff;
	border-radius: 10px;
	padding: 28px 20px;
	text-align: center;
	margin-right: 20px;
	box-shadow: 0 10px #000;
}

.menu-item:last-child {
	margin-right: 0;
}