/*
	app width: 800px;
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: #345;
}

.container {
	position: absolute;
	width: 100%;
}

.main-container {
	width: 400px;
	margin: 30px auto;
}

/* Title */

.title-container {
	text-align: right;
}

.title-container .text {
	color: #fff;
	font-weight: bold;
	font-size: 50px;
	line-height: 50px;
	text-shadow: 0 5px #000;
}

.tile-row .text {
	color: #fff;
	font-weight: bold;
	font-size: 60px;
	line-height: 60px;
}

.number .text {
	font-weight: bold;
	font-size: 50px;
	line-height: 50px;
	color: #345;
	margin-top: 5px;
}

.text {
	color: #345;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;
}

/* Game */

.game-container {
	height: 300px;
}

.number-container {
	float: left;
	width: 90px;
	height: 300px;
	margin: 0 10px 0 0;
}

.number {
	background-color: #fff;
	color: #345;
	width: 90px;
	height: 145px;
	padding: 38px 0;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 5px #000;
}

.number:first-child {
	margin-bottom: 10px;
}

.number-label {
	text-align: center;
}

.tile-container {
	position: relative;
	background-color: #fff;
	float: left;
	width: 300px;
	height: 300px;
	margin: 0;
	border-radius: 5px;
	box-shadow: 0 5px #000;
	overflow: hidden;
}

.tile-container .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
    z-index: 10;
    top: 0;
	background-color: #000;
	opacity: 0;
}

.tile-row {
	width: 280px;
	height: 86.66px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.tile-row:first-child {
	margin-top: 10px;
}

.tile {
	position: relative;
	float: left;
	background-color: #abc;
	border-radius: 5px;
	width: 86.66px;
	height: 86.66px;
	margin-right: 10px;
	color: #fff;
	text-align: center;
	padding: 10px;
}

.tile:last-child {
	margin-right: 0;
}

.tile-text {
	margin-top: 2px;
}

/* Log */

.log-container {
	background-color: #fff;
	border-radius: 5px;
	height: 300px;
	overflow: hidden;
	box-shadow: 0 5px #000;
}

.log-head {
	float: left;
	width: 100%;
	height: 50px;
	padding: 5px;
	box-shadow: 0 5px 10px #345;
	position: relative;
}

.log-name {
	float: left;
	font-weight: bold;
	display: inline;
	margin: 10px;
}

.log-icon {
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	overflow: hidden;
}

.log-icon img {
	width: 100%;
	height: 100%;
}

.log-body {
	float: left;
	width: 100%;
	height: 260px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow-y: scroll;
}

.log-item {
	background-color: #abc;
	width: 100%;
	height: 50px;
	padding: 10px;
	margin: 1px 0;
}

/* Menu */

.menu-container {
	height: 50px;
}

.menu-item {
	width: 126.66px;
	height: 100%;
	float: left;
	background-color: #fff;
	border-radius: 5px;
	padding: 14px 10px;
	text-align: center;
	margin-right: 10px;
	box-shadow: 0 5px #000;
}

.menu-item:last-child {
	margin-right: 0;
}